.SkillsFooter{
    position: absolute;
    bottom : 0;
    left: 0;
    width: 100%;
}

.IconCard{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    margin: 25px 40px;
    align-items: center;
}

.IconWrapper{
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

@media(max-width: 767px){
    .SkillsFooter{
        position: static;
    }
    .IconWrapper{
        flex-direction: column;
    }
    .IconCard span{
        font-size: 22px;
    }
}